.button {
    appearance: none;
    background: none;
    font-size: 32px;
    height: 4rem;
    width: 4rem;
    outline: none;
    border: 2px solid white;
    color: white;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 2px;
    transition: all 0.15s ease-in;
  }

  .button:hover,
  .button:focus {
    color: black;
    background-color: white;
  }
  
  .button:active {
    background-color: rgba(112, 76, 182, 0.2);
  }

  .value {
    text-align: center;
    min-width: 4rem;
  }